@font-face {
    font-family: "MainFont";
    src: url(Fonts/COURE.TTF);
  }
  body{
    display: flex;
    justify-content: center;
    background-image: url("WebFiles/new.png");
  }
  form button {
    cursor: pointer;
    width: 50px;
    margin: 2px 0;
    border: 0;
  }
  h1 {
    font-family: "MainFont";
    font-size: xx-large;
    font-weight: normal;
    color: black;
  }
  a {
    font-family: "MainFont";
    font-size: 16px;
    font-weight: normal;
    color: rgb(32, 76, 255);
  }
  p {
    font-family: "MainFont";
    font-size: 16px;
    font-weight: normal;
    color: black;
  }
  .page{
    position: relative;
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 1%;
    background: #dbdbdb;
  }
  .sameasp {
    font-family: "MainFont";
    font-size: 13px;
    font-weight: normal;
    color: black;
  }
  .link2 {
    position: relative;
    left: 20px;
  }
  .link3 {
    position: relative;
    left: 40px;
  }
  .link4 {
    position: relative;
    left: 60px;
  }
  .copyright {
    font-family: "MainFont";
    font-size: 14px;
    position: absolute;
    left: 86%;
    top: 10%;
  }
  .tag {
    font-family: "MainFont";
    font-size: 14px;
    font-weight: normal;
    color: rgb(100, 240, 100);
  }
  form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
  form input, form textarea {
    border: 0;
    outline: none;
    margin: 2px 0px;
  }