/* Font Faces */

@font-face {
  font-family: "MainFont";
  src: url(Fonts/EdgecuttingLiteMedium.ttf);
}
@font-face {
  font-family: "Heading";
  src: url(Fonts/EdgecuttingLiteMedium.ttf);
}

/* Intergrated CSS */

body{
  font-family: "MainFont";
  background-color: white;
}
h1 {
  font-family: "Heading";
  font-size: 48px;
  font-weight: normal;
  color: black;
  text-align: center;
}
h3 {
  font-family: "Heading";
  font-size: 28px;
  font-weight: normal;
  color: black;
}
a {
  font-family: "MainFont";
  font-size: 18px;
  font-weight: bold;
  text-decoration-line: none;
  color: black;
}
a:hover {
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 47, 47);
}
p {
  font-family: "MainFont";
  font-size: 18;
  font-weight: normal;
  color: black;
}
button {
  font-family: "MainFont";
  font-size: 18;
  font-weight: normal;
  color: rgb(255, 47, 47);
  text-decoration-line: underline;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor:pointer;
}
hr {
  border: 0;
  width: 99%;               
  background-color: rgb(255, 47, 47);
}
.underHeading {
  position: absolute;
  height: 3px;
  top: 150px; 
}
textarea{
  font-family: Consolas;
  color: rgb(228, 228, 228);
  background-color: rgb(50, 50, 50);
  width: 100%;
  height: 500px;
  resize: none;
}

/* Page */

.page{
  position: relative;
  width: 900px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  background: rgb(40, 40, 40);
  padding: 5px;
  padding-bottom: 25px;
}
.topOfPage{
  position: relative;
  width: 900px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
}

/* Colours, Styles and Positions */

.bold{
  font-weight: bold;
}
.news{
  font-family: "Heading";
  font-size: 28px;
  font-weight: normal;
  color: black;
  font-style: normal;
}
.small{
  font-size: 12px;
}
.topline {
  position: absolute;
  top: 38px;
  right: 0%;
  border: 0;
  clear:both;
  display:block;
  width: 850px;               
  background-color:rgb(199, 199, 199);
  height: 1px;
}
.mainH{
  position: absolute;
  top: -10px;
  left: 10px;
  color: black;
  padding-top: 20px;
}
.red{
  color: rgb(255, 47, 47);
}
.white{
  color: rgb(255, 255, 255);
}
.normal{
  font-style: normal;
}
.underline{
  text-decoration-line: underline;
}
.copyButton{
  text-decoration-line: none;
  font-weight: bold;
}

/* Development Status Types */

.rtype {
  color: rgb(70, 255, 42);
  background-color: rgba(255, 255, 255, 0);
  font-style: normal;
}
.htype {
  color: rgb(255, 174, 22);
  background-color: rgba(255, 255, 255, 0);
  font-style: normal;
}
.dtype {
  color: rgb(123, 202, 255);
  background-color: rgba(255, 255, 255, 0);
  font-style: normal;
}
.ntype {
  color: rgb(255, 47, 47);
  background-color: rgba(255, 255, 255, 0);
  font-style: normal;
}

/* Header */

.logo {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 10px;
  left: 13px;
}
.back{
  width: 900px;
  height: 100px;
}
.link1{
  position: absolute;
  top: 120px;
  left: 20%;
  color: rgb(255, 47, 47);
  text-align: center;
}
.link2 {
  position: absolute;
  top: 120px;
  left: 40%;
  color: rgb(255, 47, 47);
  text-align: center;
}
.link3 {
  position: absolute;
  top: 120px;
  right: 40%;
  color: rgb(255, 47, 47);
  text-align: center;
}
.link4 {
  position: absolute;
  top: 120px;
  right: 20%;
  color: rgb(255, 47, 47);
  text-align: center;
}

/* Footer */

.copyright {
  font-family: "MainFont";
  font-size: 16px;
  position: absolute;
  bottom: -11px;
  color: rgb(255, 47, 47);
}

/* Horizontal Lines */

.hide {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: rgb(40, 40, 40);
  height: 1px;
}
.light{
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: rgb(50, 50, 50);
  height: 3px;
}

/* Miscellaneous */

.copyButton:hover{
  text-decoration-line: underline;
}
::selection{
  background-color: rgb(255, 47, 47);
  color: white;
}
.tooltip{
  cursor: pointer;
}
.tooltip:hover::after {
  content: attr(data-tooltip);
  opacity: 1;
}
.tooltip:before,
.tooltip:after {
  content: '';
  opacity: 0;
}