@font-face {
  font-family: "MainFont";
  src: url(Fonts/EdgecuttingLiteMedium.ttf);
}
body {
  font-family:"MainFont";
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  background-color: black;
  background-image: url("WebFiles/keys.png");
  background-size: 100%;
  color: white;
}
a {
  color: white;
  font-weight: bold;
  text-decoration-line: none;
  color: rgb(255, 47, 47);
}
textarea{
  font-family: Consolas;
  font-size: 16px;
  color: white;
  background-color: black;
  width: 800px;
  height: 800px;
  resize: none;
}
hr {
  border: 1px solid white;
}
.lhr {
  border: 1px solid rgb(40, 40, 40);
}
.tableRoot {
  margin: 0 auto;
  min-width: 850px;
  max-width: 850px;
  background-color: rgb(20, 20, 20);
  border: 0px solid rgb(128, 128, 128);
  border-spacing:0;
}
.bodyLink A {
  color: white;
  background-color: rgb(255, 47, 47);
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.bodyLink A:hover{
  background-color: black;
  transition: .2s;
  text-decoration: none;
}
.header {
  text-align: right;
  background-color: black;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.headerTitle {
  font-family:"MainFont";
  font-size:300%;
  padding-left: 20px;
  padding-right: 110px;
  line-height: 1.3em;
}
.headerTitle A {
  color: rgb(255, 47, 47);
  background-color: black;
  text-decoration: none;
  font-weight: normal;
}
.headerNav A {
  color: white;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.headerNav A:hover {
  background-color: rgb(255, 47, 47);
  transition: .2s;
  text-decoration: none;
}
.content {
  padding: 18px;
  padding-top: 10px;
  text-align: left;
  text-indent: 0px;
  margin: 10px;
}
.footer {
  font-size:small;
  text-align: right;
  background-color: black;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.footerText A {
  text-decoration: none;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: white;
}
.footerText A:hover {
  text-decoration: none;
  background-color: rgb(255, 47, 47);
  transition: .2s;
  color: white;
}
.lastEdit:after {
  content: 'January 2, 2026';
}
::selection{
  background-color: rgb(255, 47, 47);
  color: white;
}