  body{
    display: flex;
    justify-content: center;
    background-color:rgb(60, 60, 60);
  }
  h1 {
    font-family: "Tahoma";
    font-size: 40px;
    font-weight: normal;
    color: rgb(228, 228, 228);
  }
  a {
    font-family: "Tahoma";
    font-size: 14px;
    font-weight: bold;
    text-decoration-line: none;
    color: rgb(228, 228, 228);
  }
  p {
    font-family: "Tahoma";
    font-size: 14px;
    font-weight: normal;
    color: rgb(228, 228, 228);
  }
  button {
    font-family: "Tahoma";
    font-size: 14px;
    font-weight: normal;
    color: rgb(255, 47, 47);
    text-decoration-line: underline;
    background-color: rgb(40, 40, 40);
    border: none;
    cursor:pointer;
  }
  hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:rgb(76, 107, 137);
    height: 1px;
    padding-top: 5px;
  }
  .page{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    background: rgb(40, 40, 40);
    padding: 5px;
    padding-bottom: 25px;
  }
  .topOfPage{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
  }
  .back{
    width: 900px;
    height: 100px;
  }
  .link1{
    position: absolute;
    top: 14px;
    left: 51px;
    color: rgb(255, 47, 47);
  }
  .link2 {
    position: absolute;
    top: 14px;
    left: 115px;
    color: rgb(255, 47, 47);
  }
  .copyright {
    font-family: "Tahoma";
    font-size: 14px;
    position: absolute;
    bottom: 0%;
    color: rgb(255, 47, 47);
  }
  .hide {
    border: 0;
    clear:both;
    display:block;
    width: 100%;
    background-color: rgb(70, 100, 128);
    height: 1px;
  }
  .logo {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 10px;
  }
  .topline {
    position: absolute;
    top: 38px;
    right: 0%;
    border: 0;
    clear:both;
    display:block;
    width: 850px;               
    background-color:rgb(199, 199, 199);
    height: 1px;
  }
  .rtype {
    color: rgb(70, 255, 42);
    background-color:rgb(40, 40, 40);
  }
  .htype {
    color: rgb(255, 174, 22);
    background-color:rgb(40, 40, 40);
  }
  .dtype {
    color: rgb(123, 202, 255);
    background-color:rgb(40, 40, 40);
  }
  .ntype {
    color: rgb(255, 47, 47);
    background-color:rgb(40, 40, 40);
  }
  .mainH{
    position: absolute;
    top: -9px;
    left: 10px;
    color: rgb(228, 228, 228);
    padding-top: 20px;
  }